/* Basic container styling */

  
  .filter-container {
    width: 250px;
    
    padding: 10px;
    
    margin: 0 auto;
    padding-top:10px;
  }
  
  .filter-item {
    margin-bottom: 20px;
    
  }
  
  .filter-header {
    width: 100%;
   background-color: white;
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .filter-header span{
    float:right;
  }
  
  
  
  .filter-content {
    padding: 10px;
    border-top: none;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .filter-content label {
    display: block;
    margin-bottom: 5px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive styling for smaller screens */
  @media (max-width: 768px) {
    .filter-container {
      width: 100%;
      padding: 10px;
      margin: 0 10px;
    }
  
    .filter-header {
      font-size: 14px;
      padding: 8px;
    }
  
    .filter-content {
      padding: 8px;
    }
  
    .filter-content label {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .filter-container {
      padding: 5px;
      margin: 0 5px;
    }
  
    .filter-header {
      font-size: 12px;
      padding: 6px;
    }
  
    .filter-content {
      padding: 6px;
    }
  
    .filter-content label {
      font-size: 12px;
    }
  }
  